{% assign avatar_icon = site.author.avatar | default: "Figure/Zackaria.png" %}
{% unless avatar_icon contains "://" %}
{% if avatar_icon | slice: 0, 1 != "/" %}
{% assign avatar_icon = "/" | append: avatar_icon %}
{% endif %}
{% endunless %}

<link rel="apple-touch-icon" href="{{ avatar_icon }}">
<link rel="icon" href="{{ avatar_icon }}">
<link rel="stylesheet" href="assets/css/academicons.css" />

<script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "all" } } }); </script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>

<!-- end custom head snippets -->